@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #171717;
  --secondary: hsla(0, 0%, 95%);
  --border: hsla(0, 0%, 90%);
  --tertiary: hsla(0, 0%, 98%);
  --muted: hsla(0, 0%, 40%);
}
[data-theme="dark"] {
  --background: #000;
  --foreground: #fff;
  --primary: #fff;
  --secondary: hsla(0, 0%, 10%);
  --border: hsla(0, 0%, 15%);
  --tertiary: hsla(0, 0%, 5%);
  --muted: hsla(0, 0%, 60%);
}

@theme inline {
  --radius: 0.5rem;
  --radius-sm: 0.65rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
